/* Page background */
body {
  font-family: Arial, sans-serif;
  background-color: #d8c7a7;
  margin: 0;
  padding: 20px;
}
.homepage{
    color: black;
    position: fixed;
    top: 20px;
    
    text-align: left;
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
}
/* Heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* GRAND TOTAL */
#grand-total{
  font-size: 25px;
  text-align: left;
  margin-top: 50px; 
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background: #aa1d1d;
  border: solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  color: white;
}

/* Table header */
thead {
  background-color: #701c1c;
  color: white;
  font-size: 25px;
}

th, td {
  padding: 12px 15px;
  text-align: center;
}

/* Row border */
tbody tr {
  border-bottom: 1px solid #eee;
}

/* Buttons */
button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

/* Increase button */
button:hover {
  transform:translateY(-5px);
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  border-radius: 25px;
}

/* Quantity buttons */
button:nth-child(1),
button:nth-child(3) {
  background-color: #31be6c;
  color: white;
}

/* Delete button */
td button:last-child {
  background-color: #d47522;
  color: white;
}

.pay{
  border-radius: 25px;
  background-color: #701c1c;
  color: white;
  height: 45px;
  font-size: 25px;
}
